:root {
  /* colors */
  --text-color: #000;
  --header-color: #374f61;
  --light-grey-color: #a4b4b5;
  --light-grey-border-color: #e2e6e8;
  --light-grey-background-color: #e7e9ec;
  --light-grey-input-border-color: #cecfce;
  --profile-shadow-color: #c0c0c0;
  --upload-button-color: #738e9c;
  --submit-button-color: #2aaadd;

  /* Typography */
  --font-family: Arial, Helvetica, sans-serif;

  /* Sizes */
  --main-container-size: 1000px;

  /* Media query screen sizes and useful queries */
  --screen-xs-min: 480px;  /* Extra Small Devices, Phones */
  --screen-sm-min: 768px;  /* Small Devices, Tablets */
  --screen-md-min: 992px;  /* Medium Devices, Desktops */
  --screen-lg-min: 1200px; /* Large Devices, Wide Screens */

  @custom-media --extra-small-screen (width >= 480px) and (width < 768px);
  @custom-media --small-screen (width >= 768px) and (width < 992px);
  @custom-media --medium-screen (width >= 992px) and (width < 1200px);
  @custom-media --large-screen (width >= 1200px);
  @custom-media --small-screen-and-lower (width < 992px);
  @custom-media --medium-screen-and-lower (width < 1200px);
  @custom-media --medium-screen-and-higher (width >= 992px);

  /* Custom Selectors */
  @custom-selector :--heading h1, h2, h3, h4, h5, h6;
}
